/* utilitys */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #373737;
    margin: 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
}
.section{
    padding-bottom: 3rem;
}

.section__row{
    margin-left: -30px;
    margin-right: -30px;
}

.section__row::after{
    content: "";
    clear: both;
    display: table;
}

.section__col12, .section__col6{
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.section__col12{
    width: 100%;
}

.section__col6{
    width: 50%;
    float: left;
}

.button--transparent{
    background-color: transparent;
    color: #383838;
}

.img--responsive{
    width: 100%;
    height: auto;
}

/* Navigation */
.navigation__wrapper{
    position: absolute;
    width: 100%;
    margin-top: 40px;
    z-index: 1;
}
.logo__wrapper{
    float: left;
}
.navigation{
    float: right;
    list-style: none;
}
.navigation__item{
    display: inline-block;
}
.navigation__link{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    padding: 1rem .5rem;
    display: block;
}
.navigation__link:hover{
}
/* Header */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../img/andreas-chu-324956-unsplash.jpg");
    background-size: cover;
    background-position: center center;
}
header .container{
    position: relative;
    height: 100%;
}
.header__wrapper{
    position: absolute;
    top: 50%;
}
.header__title{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
    max-width: 860px;
}
.header__subtitle{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    bottom: 1rem;
}
.header__subtitle::before{
    content: '';
    display: inline-block;
    background-color: #01d0e9;
    width: 40px;
    height: 5px;
    position: relative;
    bottom: 3px;
    margin-right: 10px;
}
.slider__navigation{
    width: 60px;
}

.slider__navigation .slider__navigation_previous{
    float: left;
}
.slider__navigation .slider__navigation_next{
    float: right;
}
.slider__navigation .slider__navigation_link{
    color: #fff;
    font-size: 20px;
}
.slider__navigation .slider__navigation_link:hover{
    opacity: .6;
}


/* Section */

.section__title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    text-align: center;
}

.section__subtitle{
    text-align: center;
}

/* Introduction */
.article__title{
    font-size: 1.5rem;
    margin-top: 6px;
}

.article__text{
    line-height: 1.8;
}

.section__row--reversed .section__col6:first-child{
    float: right;
}

/* Footer */
footer{
    background-color: #222222;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__logo{
    color: #FFFFFF;
    float: left;
}

.footer__links{
    list-style: none;
    float: right;
}
.footer__item{
    display: inline-block;
    margin-left: 30px;
}
.footer__link{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer__link:hover{
    color: #D3D3D3;
}