/* utilitys */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #373737;
    margin: 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
}

.bg--gray{
    background-color: #f9f9f9;
}

.text--align--center{
    text-align: center;
}

/* sections styling */

.section__row{
    margin-left: -15px;
    margin-right: -15px;
}

/* clearfix */

.section__row::after{
    content: "";
    clear: both;
    display: table;
}

/* columns*/

.section__col12, .section__col6{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.section__col12{
    width: 100%;
}

.section__col6{
    width: 50%;
    float: left;
}

/* btn styling */

.button--primary{
    background-color: transparent;
    color: #383838;
    border: 1px solid #383838;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 28px;
}
.button--primary:hover{
    background-color: #383838;
    color: #f9f9f9;
}

.button--transparent{
    background-color: transparent;
    color: #383838;
    text-decoration: none;
    font-size: 18px;
}

/* img styling */

.img--responsive{
    width: 100%;
    height: auto;
}

/* Logo */

.navigation__logo{
    max-height: 60px;
}

.footer__logo{
    max-height: 40px;
}

/* Navigation */

.navigation__wrapper{
    position: absolute;
    width: 100%;
    margin-top: 40px;
    z-index: 1;
}
.logo__wrapper{
    float: left;
}
.navigation{
    float: right;
    list-style: none;
}
.navigation__item{
    display: inline-block;
}
.navigation__link{
    display: block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    padding: 1rem .5rem;
}
.navigation__link:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    background: #fff;
}
.navigation__link:hover:before{
    transform: scale3d(1, 1, 1);
}

/* Hamburger menu */
.hamburger{
    display: none;
    float: right;
    position: relative;
    align-items: center;
    height: 64px;
    background: transparent;
    border: none;
    padding: 0.25rem 0.75rem;
}
.hamburger .hamburger-box{
    width: 32px;
    height: 25px;
    display: inline-block;
    position: relative;
}
.hamburger .hamburger-box .hamburger-inner,
.hamburger .hamburger-box .hamburger-inner:after,
.hamburger .hamburger-box .hamburger-inner:before{
    width: 32px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
}

.hamburger .hamburger-box .hamburger-inner:before,
.hamburger .hamburger-box .hamburger-inner:after{
    content: "";
    display: block;
}

.hamburger .hamburger-box .hamburger-inner{
    display: block;
    top: auto;
    bottom: 0;
    margin-top: -1px;
}

.hamburger .hamburger-box .hamburger-inner:before{
    top: -8px;
}

.hamburger .hamburger-box .hamburger-inner:after {
    top: -16px;
}


/* Header */

header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../img/andreas-chu-324956-unsplash.jpg");
    background-size: cover;
    background-position: center center;
}
header .container{
    position: relative;
    height: 100%;
}
.header__wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header__title{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
    max-width: 860px;
}
.header__subtitle{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    bottom: 1rem;
}
.header__subtitle::before{
    content: '';
    display: inline-block;
    background-color: #01d0e9;
    width: 40px;
    height: 4px;
    position: relative;
    bottom: 5px;
    margin-right: 30px;
}

/* Slider Navigation */

.slider__navigation{
    width: 60px;
}

.slider__navigation .slider__navigation_previous{
    float: left;
}
.slider__navigation .slider__navigation_next{
    float: right;
}
.slider__navigation .slider__navigation_link{
    color: #fff;
    font-size: 20px;
}
.slider__navigation .slider__navigation_link:hover{
    opacity: .6;
}

/* Slider Pagination */

.slider__pagination{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.slider__pagination .slider__pagination__bullet{
    width: 50px;
    height: 5px;
    display: inline-block;
    opacity: .6;
    background-color: #fff;
    margin: 0 2px;
}
.slider__pagination .slider__pagination__bullet.active, .slider__pagination .slider__pagination__bullet:hover{
    opacity: 1;
}

/* Section */

.section{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.section__title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.section__subtitle{
    font-size: 20px;
    text-align: center;
    margin-bottom: 6rem;
}

/* Articles */

article{
    background-color: #fff;
    margin-bottom: 4rem;
    transition: all 200ms ease-out;
}
article:hover{
    box-shadow: -4px 45px 45px -30px rgba(0,0,0,0.25);
}
.article__img{
    padding-right: 0;
    line-height: 0;
}
.article__content{
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 30px;
    padding-right: 45px;
}
.section__row--reversed .article__content{
    padding-left: 45px;
    padding-right: 30px;
}
.article__category{
    background-color: #01d0e9;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 1rem;
}
.article__title{
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 6px;
}

.article__seporator--line{
    display: block;
    background-color: #f1f1f1;
    width: 50px;
    height: 4px;
}

.article__text{
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 2.5rem;
}

.article__button .icon-arrow{
    margin-left: 5px;
    color: #01d0e9;
    transform: translateZ(0);
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.article__button:hover .icon-arrow{
    transform: translateX(4px);
}

.section__row--reversed .section__col6:first-child{
    float: right;
}

.section__row--reversed .article__img{
    padding-left: 0;
    padding-right: 15px;
}

.articles__readmore{
    diplay: inline-block;
    margin-top: 2rem;
}

/* Footer */

footer{
    background-color: #222222;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__logo{
    color: #FFFFFF;
    float: left;
    display: block;
}

.footer__links{
    list-style: none;
    float: right;
}
.footer__item{
    display: inline-block;
    margin-left: 30px;
}
.footer__link{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer__link:hover{
    color: #D3D3D3;
}

@media all and (max-width: 839px) {
    /* navigation */
    .hamburger{
        display: block;
    }
    
    #mainNav{
        display: none;
    }
    /* header */
    .header__title{
        font-size: 2rem;
        max-width: 520px;
    }
    /* sections */
    .section__col6{
        width: 100%;
        float: left;
    }

    /* Explorations section */

    .article__img, .section__row--reversed .article__img{
        padding-left: 15px;
        padding-right: 15px;
    }

    /* footer */
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer__logo{
        float: none;
        margin-bottom: 2rem;
    }
    .footer__links{
        float: none;
        padding: 0;
    }
    .footer__item{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 480px){
    /* header */
    .header__wrapper{
        right: 15px;
        left: 15px;
    }
    .header__subtitle{
        font-size: 18px;
    }
    .header__subtitle::before{
        width: 30px;
        margin-right: 20px;
    }
    .header__title{
        font-size: 1.6rem;
        max-width: 100%;
    }
    .slider__navigation{
        display: none;
    }
    .slider__pagination{
        text-align: center;
        width: 260px;
        max-widht: 100%;
        bottom: 40px;
    }

    /* sections */
    .section{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .section__subtitle{
        margin-bottom: 3rem;
    }
}