/* utilitys */
body{
    font-size: 1rem;
    color: #212529;
    margin: 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
}
.section{
    padding-bottom: 3rem;
}

.section__row{
    margin-left: -30px;
    margin-right: -30px;
}

.section__row--mb{
    margin-bottom: 4rem;
}

.section__row::after{
    content: "";
    clear: both;
    display: table;
}

.section__col12, .section__col8, .section__col6{
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.section__col12{
    width: 100%;
}

.section__col6{
    width: 50%;
    float: left;
}

.section__col8{
    width: 66.66%;
}

.section__col8--center{
    margin-left: auto;
    margin-right: auto;
}

.button__primary{
    background-color: #000;
    color: #fff;
}

.img__wrapper{
    position: relative;
}

.responsive__img{
    width: 100%;
    height: auto;
}

/* Navigation */
.navigation__wrapper{
    position: absolute;
    width: 100%;
    margin-top: 40px;
    z-index: 1;
}
.logo__wrapper{
    float: left;
}
.navigation{
    float: right;
    list-style: none;
    background: #606060;
    padding: 20px 0;
    margin: 0;
    width: 150px;
}
.navigation__item{
}
.navigation__link{
    text-decoration: none;
    color: #A9A9A9;
    padding: 1rem .5rem;
    display: block;
    text-align: center;
}
.navigation__link:hover{
    background-color: #A9A9A9;
    color: #000;
}
/* Header */
header{
    width: 100%;
    height: 50vh;
    min-height: 200px;
    max-height: 500px;
    position: relative;
}
header .header__background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    max-width: 1440px;
    height: 100%;
    background-color: #404040;
    z-index: 0;
}
header .container{
    position: relative;
    height: 100%;
}
.header__wrapper{
    position: absolute;
    top: 50%;
}
.header__title{
    font-size: 3rem;
    color: #BEBEBE;
    margin-bottom: 1rem;
}
.header__subtitle{
    font-size: 2rem;
    color: #BEBEBE;
    margin-top: 1rem;
}

/* Section */

.section__title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    text-align: center;
}

/* Introduction */
.introduction__title{
    font-size: 1.5rem;
    margin-top: 6px;
}

.introduction__text{
    line-height: 1.8;
}

.introduction__pointer{
    background-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.introduction__pointer::before{
    content: '';
    display: block;
    height: 4px;
    width: 140px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section__row--reversed .section__col6:first-child{
    float: right;
}

.section__row--reversed .introduction__pointer{
    right: 10px;
    left: auto
}

.section__row--reversed .introduction__pointer::before{
    left: 0;
    right: auto;
}
.section__row--reversed .introduction__title{
    margin-left: 100px;
}


/* Form */
.form__input{
    display: block;
    width: 100%;
    background-color: #A9A9A9;
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 1rem;
}
.form__textarea{
    display: block;
    width: 100%;
    background-color: #A9A9A9;
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 1rem;
}
.form__button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .6rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
}
.form__button--right{
    float: right;
}
/* Footer */
footer{
    background-color: #222222;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__logo{
    color: #FFFFFF;
    float: left;
}

.footer__links{
    list-style: none;
    float: right;
}
.footer__item{
    display: inline-block;
    margin-left: 30px;
}
.footer__link{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer__link:hover{
    color: #D3D3D3;
}